body {
 background: #D5DEEC url('fond.png'); /* Fond de page bleu clair, avec une image de fond (bleu clair aussi) */
 font: 14px serif;                    /* Style et taille de la police de la page */
 margin: 1em;
  }


p {
 margin:20px;
 padding:10px;
 background-color:#FFFAFA;
 font-size: 110%;
 font-family: Helvetica, sans-serif;
  /*background-color: gray;
    color: white;*/
  }

h1 {
 color: red
    }

h2 {
 text-align: center;
 color: blue
 }

h3 {
 text-align: center;
 color: red;
   }
a  {

   }


.encadre {
 border: 1px solid black;
 background: cyan
         }
